.container-header{
    margin: 0;
    width: 100%;
    background-color: purple;
}

.container-header #content{
    display: flex;
    flex-direction: row;
    width: inherit;
    padding: 20px;

}

.container-header #content .logo{
    flex-grow: 1;
}

.container-header #content .app-title{
    flex-grow: 2;
}
.container-header #content .right{
    flex-grow: 1;
}
